@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

:root {
  --font-logo: NewTegomin;
  --font-text: Belarus;
  --font-button: RubikMonoOne;
}

body {
  font-family: var(--font-text);
}
